@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
}

:root {
  --primaryColor: #ffdf00;
  --SecondaryColor: #641a89;
  --BgColor: #031a30;
  --formColor: rgb(2, 15, 29);
  --projectCardColor: #072340;
  --textColor: #dae4fb;
  --headerHeight: 3rem;
}

::-webkit-scrollbar {
  width: 0.6rem;
  background-color: var(--primaryColor);
}
::-webkit-scrollbar-thumb {
  background-color: #ffffff;
}

/* =============================  Navbar ========================= */
#navbar {
  background: var(--primaryColor);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-inline: 5vw;
  padding-block-start: 1rem;
}

.social-media-banner {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  margin-inline: auto;
  max-width: 1200px;
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--SecondaryColor);
}

.social-media-logos {
  & > svg {
    fill: var(--SecondaryColor);
    width: 32px;
    height: 16px;
    gap: 10px;
  }
}

.nav-banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 1rem;
  width: 100%;
  margin-inline: auto;
  max-width: 1200px;
}

.banner-titles {
  display: flex;
  font-size: 14px;
  gap: 52px;
  & > h3 {
    color: var(--SecondaryColor);
  }
}

/* =============================  Hero ========================= */

#hero {
  background: var(--primaryColor);
  display: flex;
  align-items: center;
  flex-direction: column;
}
.AC {
  display: flex;
  align-items: flex-end;
  gap: 14%;
  width: 41%;
  justify-content: flex-end;
}
.hero-banner {
  display: flex;
  width: 80vw;
  margin-inline: auto;
  justify-content: space-between;
  max-width: 1100px;
}
.hero-banner-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 84px;
  align-content: flex-end;
  & > h2 {
    font-weight: 500;
    font-size: 28px;
  }
}
.hero-banner-logo {
  & > img {
    position: relative;
    margin-right: -69px;
    margin-top: -52px;
    margin-bottom: -7px;
  }
}

.hero-lower {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  padding: 6rem 2rem 0 2rem;
  flex-wrap: wrap;
  max-width: 1200px;
  margin-inline: auto;

  & > h1 {
    text-align: center;
    font-size: 30px;
  }
}
.lower-wrapper {
  display: flex;
  gap: 60px;
  margin-top: 60px;
}
.lower-wrapper-image {
  margin-bottom: -20px;
}
.lower-wrapper-text {
  & > div {
    & > span {
      font-size: 24px;
      color: #03111fd9;
      line-height: 80px;
    }
    & > p {
      font-size: 16px;
      margin-bottom: 30px;
    }
  }
}

/* =============================  Services ========================= */

.services {
  display: flex;
  background: var(--primaryColor);
  justify-content: center;
  align-items: center;
  gap: 60px;
  padding: 6rem;
}
.services-text {
  & > h2 {
    font-size: 36px;
  }
  & > p {
    font-size: 16px;
  }
}
.services-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;

  & > div {
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 200px;
    background-color: white;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    overflow: hidden;
    text-align: center;
   
    & > span {
      line-height: 60px;
    }
  }
}

/* =============================  MobileApp ========================= */

.MobileApp{
      display: flex;
    justify-content: center;
    align-items: center;
    padding: 8rem 2rem;
    gap: 4rem;
}
.mobile-header{
    
}
.mobile-heading{
font-size: 50px;
    font-weight: 500;
}
.mobile-form{
display: flex;
align-items: center;
gap: 2.5rem;
padding: 4rem 0;
&>button{
  
}
}
.mobile-image{

}